<head>
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">

</head>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Your System</h2><span ng-hide="boolean1" style="color:red">You did not enter a photo!</span>
  </div>

  <div class="panel-body ">
    <div class="well">
  In this table you can see the scheme and all the components added in the previous step.
  </div>
	
  	   <style>
         table, th , td {
            border: 0px solid grey;
            border-collapse: collapse;
            padding: 5px;
            
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
            
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
         textarea {
 			width:100%;
		}
		input {
			width:100%;
		}
		img	{
			width:100%;
		}
		input[type=checkbox] {
  		/* All browsers except webkit*/
  		transform: scale(2);

  		/* Webkit browsers*/
  		-webkit-transform: scale(2);
		}
		
		
</style>


  	
  	
<table style="width: 100%;" ng-show="boolean1">
<!-- <tr>
	<td align="center"><h3>Scheme</h3></td>
	<td align="center"><h3>Components</h3></td>
</tr> -->
<tr>
	<td style="width: 75%; ">
    		<img src="" id="tableBanner" />
    </td>
    <td style="width: 25%; " valign="top">
    	<table style="width: 100%; ">
    		<tr><td align="center"><b>Components</b></td></tr>	
    		<tr ng-repeat="component in ListComponentFromDB">
                <td align="center">{{component.name}}</td> 
 <!--           <td>{{component.description}}</td> 
                <td>{{component.type}}</td>
                <td>{{component.id}}</td>  -->   
			</tr>
    </table>
    </td>
</tr>	 	
</table>

<!-- se la foto non c'è faccio vedere una tabella più dettagliata
 -->
 
 <table ng-hide="boolean1" style="width: 100%; ">
 <tr>
 	<td align="center"><b>Id</b></td>
 	<td align="center"><b>Component name</b></td>
 	<td align="center"><b>Type</b></td>
 	<td width='50%'><b>Description</b></td></tr>
 	
 <tr ng-repeat="component in ListComponentFromDB">
 	<td align="center">{{component.id}}</td>
 	<td align="center">{{component.name}}</td>
 	<td align="center">{{component.type}}</td>
 	<td style="text-align: justify;text-justify: inter-word; display: inline-block; word-break: break-word;">{{component.description}}</td>
 </tr>
 </table>
 
 
  </div>
</div>

<!-- questionario -->
<div class="panel panel-default" ng-hide="{{questionario}}">
<div class="panel-heading" ng-hide="{{questionario}}">
    <h2>Preliminary questionnaire</h2>
</div>
  <div class="panel-body" ng-hide="{{questionario}}"> 
    <div class="well">
    To receive a list of appropriate threats, you must first answer the questionnaire below.
    </div>
    <div class="panel panel-default" ng-repeat="component in ListComponentFromDB">
  		<h3 align="center">{{component.name}} ({{component.type}})</h3>
  		<table style="width: 100%; ">
  			<tr ng-repeat="threat in ThreatFromDB | filter:component.type" ng-hide="nonMostrareALL(threat.question)">
  				<td>{{threat.question}}</td>
  				<td><select ng-model="threat.show">	<option value="true">Yes</option>
  													<option value="false">No</option>
  				</select>
  				</td>
    		</tr>
    	</table>
    </div>
  </div>
 
  
	
    <h4 align="center" ng-hide="{{questionario}}"><button ng-click="sendquestionnaire()">Send Questionnaire</button></h1>
	
	
  
</div>

<!-- lista dei threat -->
<div class="panel panel-default" ng-show="{{questionario}}">
  <div class="panel-heading">
    <h2>Threat Selection</h2>
  </div>
    <div class="panel-body "> 
    <div class="well">
    Below there is a list of threats chosen according to the type of the component that you entered.<br><br>
    
    For each components select the appropriate threats.  <button  ng-click="all()">Select/Deselect All</button>
     
    </div>
  
  
  <div class="panel panel-default" ng-repeat="component in ListComponentFromDB">
  <h3 align="center">{{component.name}} ({{component.type}})</h3>
  <table style="width: 100%; ">
  	<tr ng-repeat="threat in ThreatFromDB | filter:component.type" ng-show="mostraThreat(threat.show)">
  		<td width="50"><input id="{{threat.name}}" type="checkbox" value="{{threat.name}}" 
  		ng-checked="find(component.name,threat.name)" 
  		ng-click="toggleSelection(component.name,component.id,threat.name,threat.idThreat,threat.stride,threat.descr,threat.source)" name="optionb" id="optb" class="paddingClass" /></td>
  		<td width="20%">{{threat.name}}<br><h6>({{threat.source}})</h6></td>
  		<td>{{threat.descr}}</td>
  		
  	
  	
  	</tr>
  </table>
  </div>
  
  
<br>

<button class="btn btn-primary pull-left" ng-click="saveSelection()">Save</button>
<a href="#/negotiate/ranking"><button class="btn btn-primary pull-right" ng-show="booleanthreat">Next</button></a>




  <!-- prova dati utente in cookie-->
<!-- {{selection}}<br> -->

 <br><br><br>
{{user_name}} {{user_surname}} {{user_id}}



  </div>
  
  

  
  

</div>



