	<div class="panel panel-default" >
						<div class="panel-heading">
							<h2>Start SLA Negotiation</h2>
						</div>
						<div class="panel-body">
							<div class="well">
								This wizard allows you to follow all the steps required to perform risk
								analysis of your application and gives you a hand in choosing the correct security controls
								to include in the Service Level Agreement.
							</div>
							
							
							<div class="well">Insert your data<!-- <button class="btn btn-primary pull-right" ng-click="reset()">Reset</button> -->
							</div>
													

<table width="100%">
<tr><td>
<!-- <form id="html5Form" method="post"> class="form-horizontal"
    data-fv-framework="bootstrap"
    data-fv-message="This value is not valid"
    data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-fv-feedbackicons-validating="glyphicon glyphicon-refresh"> -->

    
        <label>Name</label></td></tr>
            <tr><td>
            <input type="text" class="form-control" name="name" ng-disabled="boolean"
                required
                pattern="[a-zA-Z]+[a-zA-Z ]+"
                maxlength="25"
                ng-model="user_name"/>
            </td></tr> 
			<tr><td>
        <label>Surname</label></td></tr> 
        	<tr><td>
            <input type="text" class="form-control" name="surname" ng-disabled="boolean"
                
                required
                pattern="[a-zA-Z.'-]+[a-zA-Z ]+"
                maxlength="45"
                ng-model="user_surname"/>
            </td></tr>
</table>	

    <br>
	<button type="submit" class="btn btn-primary pull-left" value="Save" title="Save" ng-click="add_user()" ng-hide="boolean">
           <span>Save</span>
         </button>
         <a href="#/negotiate/insert"><button class="btn btn-primary pull-left" ng-show="boolean">Next</button></a>
    

    

<!-- </form> -->










							
							
						</div>
					</div>