<style>


</style>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Negotiated SLA</h2>
  </div>
  <div class="panel-body ">
    <div class="well">
      A Security SLA has been built according to your choices during the negotiation process.<br>
      Check it and submit it in order to have it stored in your collection of negotiated SLAs.<br>
      
          The next steps of the SPECS Application will enable you to sign and implement the SLA.
    </div>
    
    
   <textarea style="width:100%; " rows="40" cols="150" disabled><specs:capabilities>{{capabilities}}</specs:capabilities>
   
   </textarea><br><br>
   <button class="btn btn-primary" ng-click="submitSLA()">REQUEST OFFERS</button><br><br><br>      
         

        
        
<!-- {{controlselection}}   <br> -->
  
<!-- prova dati utente in cookie-->	
{{user_name}} {{user_surname}} {{user_id}}          
  </div>

 
</div>
