<!--<div ng-include="'views/navigator.html'"></div>-->
<div ng-include="'resources/views/navigator.html'"></div>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2>Sign SLA</h2>
  </div>
		
  <div class="panel-body ">

    <div class="well">
      This page shows the list of negotiated SLAs. <br/>
      Click on the "Sign SLA" button to sign the selected SLA.
    </div>
  
    <div class="panel panel-default">
      <div class="panel-body">
            
        <table class="table">

          <thead>
            <tr>
              <th>SLA ID</th>
              <th></th>
              <th></th>
                
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="sign in signs">
              <td width="10%"><span class="badge">{{sign.id}}</span></td>
              <td width="20%">
                <input type="radio" name="Sla_list" id="Sla_{{sign.id}}"  ng-value="{{sign.id}}" ng-model="formSign.SlaList">
              </td>
              <td>
                <button class="btn btn-primary"  ng-click="signSLA()" data-ng-disabled="formSign.SlaList != '{{sign.id}}'">Sign SLA</button>
              </td>
            </tr>
          </tbody>

        </table>
        
      </div>
    </div>
          
    <div class="panel panel-primary" ng-show="errorState">
      <div class="panel-body">{{errorMessage}}</div>
    </div>
    <div class="panel panel-primary" ng-show="!signs.length">
      <div class="panel-body">{{alertMessage}}</div>
    </div>

  </div> <!--  end of main panel body -->
</div> <!--  end of main panel -->

<!--<div ng-include="'views/footer.html'"></div>-->
<div ng-include="'resources/views/footer.html'"></div>