<style>
/* tabella a mostro
 */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
input[type=checkbox] {
	/* All browsers except webkit*/
	transform: scale(2);

	/* Webkit browsers*/
	-webkit-transform: scale(2);
}

/* in the css file or in a style block */
.angular-with-newlines {
    white-space: pre-line;
}


 
 .CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#f2f2f2;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,ffffff);

	background-color:#ffffff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,ffffff);

	background-color:#ffffff;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.vericaltext{
    width:1px;
    word-wrap: break-word;
    font-family: monospace; /* this is just for good looks */
}



















 
</style>



<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Risk Rating Results</h2>
  </div>
  <div class="panel-body ">
  	<div class="well">
  	In this table you can see the overall status of the system.<br> For each component it shows the level of overall 
  	risk: an evaluation obtained by considering the risks associated with any threat previously chosen.
  	</div>
  
   <div class="panel panel-default">
   <table class="CSSTableGenerator" border="1"; width=100%>
    <tr><td width=30%></td>									<td align="center" ng-repeat="component in ListComponentFromDB">{{component.name}}</td> </tr>
    <tr><td><b>Spoofing</b></td>					<td ng-style="{'VERY LOW':{background:'green'},'LOW':{background:'yellow'},'MEDIUM':{background:'orange'},'HIGH':{background:'red'},'CRITICAL':{background:'pink'}}[getRisk(component.name,'SPOOFING')]" align="center" ng-repeat="component in ListComponentFromDB" >{{getRisk(component.name,'SPOOFING')}}</td> </tr>
    <tr><td><b>Tampering</b></td>					<td ng-style="{'VERY LOW':{background:'green'},'LOW':{background:'yellow'},'MEDIUM':{background:'orange'},'HIGH':{background:'red'},'CRITICAL':{background:'pink'}}[getRisk(component.name,'TAMPERING')]" align="center" ng-repeat="component in ListComponentFromDB" >{{getRisk(component.name,'TAMPERING')}}</td> </tr>
    <tr><td><b>Repudiation</b></td>					<td ng-style="{'VERY LOW':{background:'green'},'LOW':{background:'yellow'},'MEDIUM':{background:'orange'},'HIGH':{background:'red'},'CRITICAL':{background:'pink'}}[getRisk(component.name,'REPUDIATION')]" align="center" ng-repeat="component in ListComponentFromDB" >{{getRisk(component.name,'REPUDIATION')}}</td> </tr>
    <tr><td><b>Information Disclosure</b></td>		<td ng-style="{'VERY LOW':{background:'green'},'LOW':{background:'yellow'},'MEDIUM':{background:'orange'},'HIGH':{background:'red'},'CRITICAL':{background:'pink'}}[getRisk(component.name,'INFORMATION DISCLOSURE')]" align="center" ng-repeat="component in ListComponentFromDB" >{{getRisk(component.name,'INFORMATION DISCLOSURE')}}</td> </tr>
    <tr><td><b>Denial of Service</b></td>			<td ng-style="{'VERY LOW':{background:'green'},'LOW':{background:'yellow'},'MEDIUM':{background:'orange'},'HIGH':{background:'red'},'CRITICAL':{background:'pink'}}[getRisk(component.name,'DENIAL OF SERVICE')]" align="center" ng-repeat="component in ListComponentFromDB" >{{getRisk(component.name,'DENIAL OF SERVICE')}}</td> </tr>
    <tr><td><b>Elevation of Privileges</b></td>		<td ng-style="{'VERY LOW':{background:'green'},'LOW':{background:'yellow'},'MEDIUM':{background:'orange'},'HIGH':{background:'red'},'CRITICAL':{background:'pink'}}[getRisk(component.name,'ELEVATION OF PRIVILEGES')]" align="center" ng-repeat="component in ListComponentFromDB" >{{getRisk(component.name,'ELEVATION OF PRIVILEGES')}}</td> </tr>
   </table>		
</div>
</div>
</div>  
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Security Controls Selection</h2>
  </div>
    <div class="panel-body ">
    	<div class="well">
    		Below there is a list of security controls suggested on the threats that you have previously chosen, 
    		plus other optional controls for each STRIDE category.
			<br>  <br>    		
			For each components select the appropriate security controls.<br>
			
    		<br>
      		<ol>Tips:
      		<li>Press the respective button to fade in/out the control lists;</li>
      		<li>You can also filter the list to get only the security controls that are needed to solve your critical issues.
      		</li>
      		</ol><br><h5 align="center">
      		<button	ng-click="cambiofiltro()">{{nomepulsantefiltro}}</button>
      		<button	ng-click="selezionatuttiRequired()">Select/Deselect All Required</button>
      		<button	ng-click="pulizia()">Clear all</button>
      		</h5>
      		
    		      		
      		
		</div>
  
  
  <div class="panel panel-default" ng-repeat="component in ListComponentFromDB">
  <p style="text-align:center"><font size="6">{{component.name}} ({{component.type}})</font>

	</p><p style="text-align:center">
	
<!-- 	HO ASSEGNATO NOMI DIVERSI ALLE TABELLE PER POTERLE ABBASSARE -->
	
	<button
  	ng-click="toggleTable1(component.name)"
  	ng-hide="((getRisk(component.name,'SPOOFING')==undefined)&&(getRisk(component.name,'TAMPERING')==undefined)&&(getRisk(component.name,'REPUDIATION')==undefined)&&(getRisk(component.name,'INFORMATION DISCLOSURE')==undefined)&&(getRisk(component.name,'DENIAL OF SERVICE')==undefined)&&(getRisk(component.name,'ELEVATION OF PRIVILEGES')==undefined))"
  	>Suggested Controls</button>     
	
    <button 
  	ng-click="toggleTable2(component.name)"
  	ng-hide="((getRisk(component.name,'SPOOFING')==undefined)&&(getRisk(component.name,'TAMPERING')==undefined)&&(getRisk(component.name,'REPUDIATION')==undefined)&&(getRisk(component.name,'INFORMATION DISCLOSURE')==undefined)&&(getRisk(component.name,'DENIAL OF SERVICE')==undefined)&&(getRisk(component.name,'ELEVATION OF PRIVILEGES')==undefined))"
  	>All controls</button>
  	

  	
  	</p>
  
<!--   tabella solo controlli suggeriti -->  
  <table style="width: 100%; display:table;"  id="{{component.name+'tab1'}}">
  <tr ng-repeat="tr in selection | filter:{componentid:component.id}" style="border: 1px solid black;">
					
	<td>			<table>
						<p><u>Suggested Controls for threat</u>: <b>{{tr.threat}}</b>
						
						<br><u>Stride</u>: <b>{{tr.stride}}</b> | <u>Risk</u>: <b>{{tr.risk}}</b>
						<br><u>Description</u>: {{tr.description}}
						</p>
						<tr ng-repeat="c in controllisuggeriti | filter:{hreatid:tr.threatid} | filter:{threatname:tr.threat}"><!-- style="border: 1px solid black;" -->
							<td width="5%"><input type="checkbox"
											ng-click="toggleSelection(c.control,c.controlname, component.id, c.controldesc,tr.threatid)" 
											ng-checked="find(c.control, component.id)" 
											ng-hide="(variabile==true)&&(tr.riskNum<c.minrisk)">
											
							
							</td><td>
							<table style="border: 1px solid black;" ng-hide="(variabile==true)&&(tr.riskNum<c.minrisk)">
								<tr><td><b>{{c.control}}&nbsp{{c.controlname}}</b>
																
								<br>(Baseline Allocation: {{valoretestuale(c.minrisk)}})
								  <span style="color:red" ng-show="tr.riskNum>=c.minrisk">Required!</span></td></tr>
								<tr><td class="angular-with-newlines">{{c.controldesc}}</td></tr>
							</table>
							
						</tr>
					</table>
	</td>
	</tr>
	
  </table>
  <br><br>
  
  
  
<!--   tabella tutti i controlli -->
  <table style="width: 100%; display:none;" id="{{component.name+'tab2'}}">
  
  
  <tr ng-hide="getRisk(component.name,'SPOOFING')==undefined" style="border: 1px solid black;"><td align="center" valign="top" width="6%" style="border: 1px solid black;"><p class="vericaltext"><font size="8"><b>SPOOFING</b></font></p></td>
  	<td>
  	<table>
  		<p style="text-align:center">All Security Controls | STRIDE Category: <b>SPOOFING</b></p> 		
		<tr ng-repeat="control in controls | filter:'SPOOFING'">
			<td width="5%"><input type="checkbox" ng-click="toggleSelection(control.controlID,control.controlName, component.id, control.desc,tr.threatid)" ng-checked="find(control.controlID, component.id)" ></td><td>
			<table style="border: 1px solid black;">
			<tr><td><b>{{control.controlID}}&nbsp{{control.controlName}}</b></td></tr>
			<tr><td class="angular-with-newlines">{{control.desc}}</td></tr>
			</table>
		</td></tr>
  	</table>
  	</td>
  </tr>
  
  <tr ng-hide="getRisk(component.name,'TAMPERING')==undefined" style="border: 1px solid black;"><td align="center"  valign="top" width="6%" style="border: 1px solid black;"><p class="vericaltext"><font size="8"><b>TAMPERING</b></font></p></td>
  	<td>
  	<table>
  		<p style="text-align:center">All Security Controls | STRIDE Category: <b>TAMPERING</b></p>
  		
		<tr ng-repeat="control in controls | filter:'TAMPERING'">
			<td width="5%"><input type="checkbox" ng-click="toggleSelection(control.controlID,control.controlName, component.id, control.desc,tr.threatid)" ng-checked="find(control.controlID, component.id)" ></td><td>
			<table style="border: 1px solid black;">
			<tr><td><b>{{control.controlID}}&nbsp{{control.controlName}}</b></td></tr>
			<tr><td class="angular-with-newlines">{{control.desc}}</td></tr>
			</table>
		</td></tr>
  	</table>
  	</td>
  </tr>
  
  <tr ng-hide="getRisk(component.name,'REPUDIATION')==undefined" style="border: 1px solid black;"><td align="center"  valign="top" width="6%" style="border: 1px solid black;"><p class="vericaltext"><font size="8"><b>REPUDIATION</b></font></p></td>
  	<td>
  	<table>
  		<p style="text-align:center">All Security Controls | STRIDE Category: <b>REPUDIATION</b></p>
		<tr ng-repeat="control in controls | filter:'REPUDIATION'">
			<td width="5%"><input type="checkbox" ng-click="toggleSelection(control.controlID,control.controlName, component.id, control.desc,tr.threatid)" ng-checked="find(control.controlID, component.id)" ></td><td>
			<table style="border: 1px solid black;">
			<tr><td><b>{{control.controlID}}&nbsp{{control.controlName}}</b></td></tr>
			<tr><td class="angular-with-newlines">{{control.desc}}</td></tr>
			</table>
		</td></tr>
  	</table>
  	</td>
  </tr>
  
  <tr ng-hide="getRisk(component.name,'INFORMATION DISCLOSURE')==undefined" style="border: 1px solid black;"><td align="center"  valign="top" width="6%" style="border: 1px solid black;"><p class="vericaltext"><font size="8"><b>INFORMATION DISCLOSURE</b></font></p></td>
  	<td>
  	<table>
  		<p style="text-align:center">All Security Controls | STRIDE Category: <b>INFORMATION DISCLOSURE</b></p>
		<tr ng-repeat="control in controls | filter:'INFORMATION DISCLOSURE'">
			<td width="5%"><input type="checkbox" ng-click="toggleSelection(control.controlID,control.controlName, component.id, control.desc,tr.threatid)" ng-checked="find(control.controlID, component.id)" ></td><td>
			<table style="border: 1px solid black;">
			<tr><td><b>{{control.controlID}}&nbsp{{control.controlName}}</b></td></tr>
			<tr><td class="angular-with-newlines">{{control.desc}}</td></tr>
			</table>
		</td></tr>
  	</table>
  	</td>
  </tr>
  
  <tr ng-hide="getRisk(component.name,'DENIAL OF SERVICE')==undefined" style="border: 1px solid black;"><td align="center"  valign="top" width="6%" style="border: 1px solid black;"><p class="vericaltext"><font size="8"><b>DENIAL OF SERVICE</b></font></p></td>
  	<td>
  	<table>
  		<p style="text-align:center">All Security Controls | STRIDE Category: <b>DENIAL OF SERVICE</b></p>
		<tr ng-repeat="control in controls | filter:'DENIAL OF SERVICE'">
			<td width="5%"><input type="checkbox" ng-click="toggleSelection(control.controlID,control.controlName, component.id, control.desc,tr.threatid)" ng-checked="find(control.controlID, component.id)" ></td><td>
			<table style="border: 1px solid black;">
			<tr><td><b>{{control.controlID}}&nbsp{{control.controlName}}</b></td></tr>
			<tr><td class="angular-with-newlines">{{control.desc}}</td></tr>
			</table>
		</td></tr>
  	</table>
  	</td>
  </tr>
  
  <tr ng-hide="getRisk(component.name,'ELEVATION OF PRIVILEGES')==undefined" style="border: 1px solid black;"><td align="center"  valign="top" width="6%" style="border: 1px solid black;"><p class="vericaltext"><font size="8"><b>ELEVATION  OF  PRIVILEGES</b></font></p></td>
  	<td>
  	<table>
  		<p style="text-align:center">All Security Controls | STRIDE Category: <b>ELEVATION OF PRIVILEGES</b></p>
		<tr ng-repeat="control in controls | filter:'ELEVATION OF PRIVILEGES'">
			<td width="5%"><input type="checkbox" ng-click="toggleSelection(control.controlID,control.controlName, component.id, control.desc,tr.threatid)" ng-checked="find(control.controlID, component.id)" ></td><td>
			<table style="border: 1px solid black;">
			<tr><td><b>{{control.controlID}}&nbsp{{control.controlName}}</b></td></tr>
			<tr><td class="angular-with-newlines">{{control.desc}}</td></tr>
			</table>
		</td></tr>
  	</table>
  	</td>
  </tr>
  
  
  </table>
  <p align="center" style="color:red" ng-show="((getRisk(component.name,'SPOOFING')==undefined)&&(getRisk(component.name,'TAMPERING')==undefined)&&(getRisk(component.name,'REPUDIATION')==undefined)&&(getRisk(component.name,'INFORMATION DISCLOSURE')==undefined)&&(getRisk(component.name,'DENIAL OF SERVICE')==undefined)&&(getRisk(component.name,'ELEVATION OF PRIVILEGES')==undefined))">You didn't select any threats!</p>
  <br><br><br>
</div>
  
  
<br>
<button class="btn btn-primary pull-left" ng-click="saveSelection()">Save</button>
<a href="#/negotiate/metrics"><button class="btn btn-primary pull-right" ng-show="controlselected">Next</button></a>




  <!-- prova dati utente in cookie-->
<!-- {{controlselection}}<br>
 -->
 
 <br><br><br>
{{user_name}} {{user_surname}} {{user_id}}



  </div>
  
  

  
  

</div>