<div class="panel panel-default">
  <div class="panel-heading">
    <h2>System Components</h2>
  </div>
  <div class="panel-body ">
    <div class="well">
      Add to list all the components that characterize your system.
    </div>
    
    <style>
         table, th , td {
            border: 0px solid grey;
            border-collapse: collapse;
            padding: 5px;
            
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
            
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
         textarea {
 			width:100%;
		}
		input {
			width:100%;
		}
		img	{
			width:100%;
		}

    </style>


<!--  inserimento componenti per nome e descrizione -->    
<div >
    <div class="panel panel-default">
    <table style="width: 100%; ">
    	<tr>
    	<td align="center">Component Name<br><span style="color:red" ng-show="component.name==undefined">Required!</span><span style="color:red" ng-show="error_name">ERROR: Use a different name!</span></td>
    	<td><input type="text" maxlength="45" ng-model="component.name"/><br/></td>
		</tr>
		<tr>
    	<td align="center">Component Type<br><span style="color:red" ng-show="component.category==undefined">Required!</td>
    	<td><select ng-model="component.category" ng-options="category for category in categories"></select><br/></td>
		</tr>
		<tr>
		<td align="center">Description</td>
		<td><textarea maxlength="600" rows="8" cols="150" ng-model="component.description" name='not defined'></textarea></td>
		</tr><tr><td align="center"><button class="btn btn-primary" ng-click="add(component.name)">Add Component</button></td></tr>
	</table>   	   
	
    </div>

    
    
    <div class="panel panel-default">
    <table style="width: 100%; ">
            <tr>
            	<td align="center"><b>Id</b></td>
                <td align="center"><b>Control Name</b></td>
                <td align="center"><b>Type</b></td>
                <td width='50%'><b>Description</b></td>
                <td></td>
            </tr>
            <tr ng-repeat="component in ListComponentFromDB">
<!--                 <td>{{$index+1}}</td>  
 -->            <td align="center">{{component.id}}</td>  
                <td align="center">{{component.name}}</td>
                <td align="center">{{component.type}}</td>    
                <td style="text-align: justify;text-justify: inter-word;  display: inline-block; word-break: break-word;">{{component.description}}</td>
                
                <td><input type="button" class="btn btn-primary" value="Delete" ng-click="remove($index,component.id,component.name,component.description)" /></td>
            </tr>
           
        </table>
		<br>
        <h5>NOTE: If you can not delete a component you must first remove the association with the threat on the next page. (remember to click the Save button)</h5>

    </div>
    
    
    
    



    
<!--  inserimento foto: se già inserita scompare -->    
    <div class="well" ng-hide="boolean1">
      Insert a picture that represents the entire system.
    </div>

<table class="table" ng-hide="boolean1">
	<tr>
		<td><input type="file", class="custom-file-input", file-model="myFile", accept="image/*" onchange="$('#blah')[0].src = window.URL.createObjectURL(this.files[0])"></td>
				
	</tr>
	<tr><td><img id="blah" alt="" width="100"/></td></tr>
	<tr>
		<td><button class="btn btn-primary" ng-click="uploadFile()">Upload</button></td>
	</tr>
</table>


<table class="table" ng-show="boolean1">
<tr><td><img src="" id="tableBanner"  width="100"/></td></tr>
</table>


	
<!-- prova dati utente in cookie-->	
{{user_name}} {{user_surname}} {{user_id}} 
<a href="#/negotiate/threat"><button class="btn btn-primary pull-right" ng-show="boolean2" ng-click="next()">Next</button></a>

			
			
			
			
			
</div>













  




