<ul class="nav nav-pills nav-wizard">
        <li ng-class="{ active: isActive('/negotiate/start') }">									<a ui-sref="negotiate.start" data-toggle="tab">Start</a><div class="nav-arrow"></div></li>
        
        
        
        
<!--    <li ng-class="{ active: isActive('/negotiate/service') }"><div class="nav-wedge"></div>		<a ui-sref="negotiate.service" data-toggle="tab">Select Service</a><div class="nav-arrow"></div></li>    -->
<!--    <li ng-class="{ active: isActive('/negotiate/capability') }"><div class="nav-wedge"></div>	<a ui-sref="negotiate.capability"  data-toggle="tab">Select Capabilities</a><div class="nav-arrow"></div></li>  -->
 
 
 
 
<!-- tasti aggiunti.....cominciano i guai --> 
		<li ng-class="{ active: isActive('/negotiate/insert') }"><div class="nav-wedge"></div>		<a ui-sref="negotiate.insert"  data-toggle="tab">Insert System Detail</a><div class="nav-arrow"></div></li>
        <li ng-class="{ active: isActive('/negotiate/threat') }"><div class="nav-wedge"></div>		<a ui-sref="negotiate.threat"  data-toggle="tab">Threat Modeling</a><div class="nav-arrow"></div></li>
        <li ng-class="{ active: isActive('/negotiate/ranking') }"><div class="nav-wedge"></div>		<a ui-sref="negotiate.ranking"  data-toggle="tab">Ranking</a><div class="nav-arrow"></div></li>
 
 
        <li ng-class="{ active: isActive('/negotiate/security') }"><div class="nav-wedge"></div>	<a ui-sref="negotiate.security"  data-toggle="tab">Select Security Controls</a><div class="nav-arrow"></div></li>
        <li ng-class="{ active: isActive('/negotiate/agreement') }"><div class="nav-wedge"></div>	<a ui-sref="negotiate.metrics"  data-toggle="tab">Select Security Metrics</a><div class="nav-arrow"></div></li>
        <li ng-class="{ active: isActive('/negotiate/overview') }"><div class="nav-wedge"></div>	<a ui-sref="negotiate.overview"  data-toggle="tab">SLA Overview</a></li>
              
</ul>


					
					

		