	<div class="panel panel-default" >
						<div class="panel-heading">
							<h2>Start SLA Negotiation</h2>
						</div>
						<div class="panel-body ">
							<div class="well">
								Questo wizard ti permette di seguire tutti i passi necessari alla realizzazione della risk 
								analysis della tua applicazione fornendoti un aiuto nella scelta dei controlli di sicurezza
								adeguati da implementare nel Service Level Agreement.
							</div>
							
							
							<div class="well">Inserisci i tuoi dati</div>
							
						<!-- prova cookie  -->
						
    					<div id="button-holder" ng-controller="StartCtrl">
						<table border="0">
							<tr><td>Nome</td><td>Cognome</td></tr>
							<tr><td><input type="text" ng-model="user_name"></td><td><input type="text" ng-model="user_surname"></td></tr>
						</table>
						<button ng-click="add_user()">Save</button>
						
						</div><!-- fine controller -->
							
							
						</div>
					</div>